:root {
    --primary: #252525;
    --primary-text: #252525;
    --secondary: #252525;
    --secondary-text: white;
    --accent: #A5C9FF;
    --accent-text: #252525;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 20%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Contrail one;
    color: #252525;
  }
  .navbar{
    height: 60px;
    width: 70%;
    margin-top: 40px;
    margin-left:15%;
    padding: 14px 30px;
    border-radius: 12%;
    z-index: 99;
    box-shadow: 0 0 10px #000;;
    background-color: #eee6e6;
    position: fixed;
    top:0
  }
  .navbar .nav-header{
    display: inline;
  }
  .navbar .nav-header .nav-logo{
    display: inline-block;
    margin-top: -11px;
  }
  .navbar .nav-links{
    display: inline;
    float: right;
    font-size: 18px;
  }
   
  .navbar .nav-links .loginBtn{
    display: inline-block;
    padding: 5px 15px;
    margin-left: 20px;
    font-size: 17px;
    color: rgb(9, 14, 90);
  }
  .navbar .nav-links a{
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: #252525;
  }
  /* Hover effects */
  .navbar .nav-links a:hover{
    border-bottom: 2px solid  #A5FFC9;
  }
   
  /* responsive navbar toggle button */
  .navbar #nav-check, .navbar .nav-btn{
    display: none;
  }
   
  @media (max-width:700px) {
    .navbar .nav-btn{
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .navbar .nav-btn label {
      display: inline-block;
      width: 80px;
      height: 70px;
      padding: 25px;
    }
    .navbar .nav-btn label span {
      display: block;
      height: 10px;
      width: 25px;
      border-top: 3px solid #eee;
    }
    .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
      background-color: #A5C9FF;
    }
    .navbar .nav-links{
      position: absolute;
      display: block;
      text-align: center;
      width: 50%;
      background-color: #A5C9FF;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 70px;
      right: 0px;
    }
    .navbar .nav-links a {
      display: block;
    }
   
    /* when nav toggle button not checked */
    .navbar #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
   
    /* when nav toggle button is checked */
    .navbar #nav-check:checked ~ .nav-links {
      overflow-y: auto;
    }
    .navbar .nav-links .loginBtn {
      padding: 10px 40px ;
      margin: 20px;
      font-size:  18px;
      font-weight: bold;
      color: rgb(9, 14, 90);
    }
  }